.enlighter-default,
body {
    font-size: 1.6rem!important;
}

a {
    color: #930201;
}

a:hover {
    color: #FF3521!important;
}

a[target="_blank"]:after {
    font-family: 'FontAwesome';
    content: " \f08e";
}

p, quote, ul, .enlighter-default {
    margin: 0 0 1.5rem;
}

h1, h2, h3, h4 {
    margin-bottom: 1.5rem;
    margin-top: 3rem;
}
 
h1, h2 {
    color: #930201;
}

img {
    max-width: 100%;
    display: inherit;
    margin-bottom: 1.5rem;   
}

quote {
    max-width: 20em;
    padding: 1em;
    margin-left: 2rem;
    font-size: 2.5rem!important; 
    border-left: #C0C0C0 1px solid!important;
    display: block;
}
 
 
.highlight {
    border: 2px solid #FF3521;
    background-color: #FFF5F4;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.highlight label {
    color: #FF3521;
    font-weight: bold;
    display: block;
    margin-bottom: 1.5rem;
    font-size: 24px;
}

.highlight h3 {
    color: #FF3521;
    margin-top: 0;
}

.content-right {
    max-width: 1000px;
}

.content-right {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.sidenav {
    padding-right: 30px;
    padding-left: 15px;
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}


.logo {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.logo img {
    width: 50%;
} 

.shadow {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.nav>li.active>a, .nav>li.active>a:focus, .nav>li.active>a:hover {
    background-color: #930201;
    color: #FFF!important;
} 

ul.nav ul,
ul.nav ul ul,
ul.nav ul ul ul {
    margin-left: 15px!important;
    border-left: #C0C0C0 1px solid!important;
}


/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height: auto;} 
}
