section {
    display: flex;
}

section article {
    width: 33.33%;
    box-sizing: border-box;
    padding: 20px;
} 

/* CSS van toepassing bij een scherm <= aan 600px */
@media (max-width: 600px) {
    section {
        display: block;
    }

    section article {
        width: 100%;
    }
}